head
  link(rel='stylesheet', href='stylesheets/styles.css')
.tab
  button.tablinks(onclick="openTab(event, 'newgame')") Luo peli
  button.tablinks(onclick="openTab(event, 'joingame')") Liity peliin
  button.tablinks(class="hidden-first" onclick="openTab(event, 'main')") Main
  button.tablinks(class="hidden-first" onclick="openTab(event, 'tasks')") Tehtävät
  button.tablinks(class="hidden-first" onclick="openTab(event, 'riddles')") Arvoitukset
  button.tablinks(class="hidden-first" onclick="openTab(event, 'map')") Kartta
  button.tablinks(class="hidden-first" onclick="openTab(event, 'info')") Ohjeet

#newgame.tabcontent
  div(class="input-wrapper")
    form(id="gamedata")
      div(class="login-form")
        label Pelin nimi
        br
        input(type="text" placeholder="Valitse pelin nimi" id="game-name" name="game-name")
        br
        br
        label Pelaajan nimi
        br
        input(type="text" placeholder="Valitse pelaajan nimi" id="player-name" name="player-name")
        br
        br
        input(type="submit" value="Luo peli" onclick="unhideTablink()")

#joingame.tabcontent
  p List of games here

#main.tabcontent
  span#count-down
  #buttons
    button#3secs(data-mins='0.05') Add 3 Secs
    button#5mins(data-mins='5') Add 5 Mins
    button#15mins(data-mins='15') Add 15 Mins
    button#Start Start
    button#Test Test
  div(class="rosvo-cont")
    input#rosvo(class="rosvo" type='image', src='images/rosvo.jpg')
  #sub1
    p#demo
  #sub2
    button(onclick='getLocation()') Show location
  #sub3
    loc#geoloc
  #sub4
    loc#geodisttext
  #sub5
    loc#geodistacc
  #sub6
    button#changelimit5(meters='5') lim=5m
    button#changelimit10(meters='10') lim=10m
    button#changelimit25(meters='25') lim=25m
    button#changelimit50(meters='50') lim=50m
  #sub7
    table
      tr
        th Player 1
      tr
        th(id="player")

#tasks.tabcontent
  p Here is a list of tasks

#riddles.tabcontent
  p First riddle - Found - Not solved

#map.tabcontent
  div
    input(class='kartta' type='image', src='images/kartta.jpg')

#info.tabcontent
  p The name of the game is this...

script(src="javascripts/websocket.js")
script(src="javascripts/timer.js")
script(src="javascripts/geolocation.js")
script(src="javascripts/Tabs.js")